<html>
    <head>
        <meta charset='UTF-8'>

		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_orange-deep_purple.min.css" />
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,500,400italic,700,700italic' rel='stylesheet' type='text/css'> 
        <link rel="stylesheet" href="/stylesheets/diario.css">
        <title>Fornos LRX - Diario</title>
    </head>

    <body>
        <div class="mdl-layout mdl-js-layout">
            <header class="mdl-layout__header">
                    <div class="mdl-layout__header-row">
                            <!-- Title -->
                            <span class="mdl-layout-title">Fornos LRX</span>
                            <!-- Add spacer, to align navigation to the right -->
                            <div class="mdl-layout-spacer"></div>
                            <button id="demo-menu-lower-right"
                                  class="mdl-button mdl-js-button mdl-button--icon">
                              <i class="material-icons">more_vert</i>
                          </button>
        
                          <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                              for="demo-menu-lower-right">
                              <li disabled class="mdl-menu__item mdl-menu__item--full-bleed-divider">Opção</li>
                              <form id="diarioLogbook" action="/diario" method="post">
                                  <input type="submit" class="md1-menu__item" method="post">
                              </form>
                              <form id="getUserAnalysis" action="/oven/log" method="post">
                                  <input class="mdl-menu__item" id="get_log" type="submit" value="Mostrar histórico de análises">
                                  <input id="user_email" name="user_email" hidden>
                              </form>
                              <!-- <script>
                                  $("document").ready(function(){
                                      $("#user_email").val(session_user_name);
                                  });
                              </script> -->
                              <form action="/auth/exit" method="POST" target="_self">
                                  <li class="mdl-menu__item"> <button class="mdl-menu__item" type="submit"/>Sair</li>
                              </form>	
                          </ul>
                      </div>
            </header>
            <section class="mdl-grid">
                    <div>
                        <span class=" mdl-layout-title mdl-cell mdl-cell--8-col-mobile mdl-cell--12-col-desktop">Selecione o Forno <span><% tarefas.length %></span></span>
                    </div>
                    <br><br>
            </section>
            <br><br><br>
            <section>
                <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect mdl-grid">
                    <div class="mdl-tabs__tab-bar mdl-cell--8-col-desktop mdl-cell--2-offset-desktop">
                        <a href="#forno1-panel" class="mdl-tabs__tab is-active">Forno1</a>
                        <a href="#forno2-panel" class="mdl-tabs__tab">Forno2</a>
                        <a href="#forno3-panel" class="mdl-tabs__tab">Forno3</a>
                        <a href="#forno4-panel" class="mdl-tabs__tab">Forno4</a>
                    </div>
                    <div class="mdl-tabs__panel is-active  mdl-cell--8-col-desktop mdl-cell--2-offset-desktop" id="forno1-panel">
                        <div class="mdl-layout__content mdl-grid">
                            <ul style="list-style:none">
                                <br><br>
                                <% for(let i=0; i<tarefas.length; i++){%>
                                    <% if(tarefas[i]._forno =="1"){%>
                                        <li>
                                            
                                            <div class="mdl-card mdl-cell--12-col-desktop mdl-cell--middle" style="background-color:#f7f2f2;"> 
                                                <span class="tarefas_id" hidden><%- tarefas[i]._id %></span>
                                                <div class="mdl-card__title mdl-cell--middle"><span class="mdl-card__title-text"><%- tarefas[i]._titulo %></span></div>
                                                <span class="mdl-cell--middle"><b>Data:</b><%- tarefas[i]._data %></span>
                                                <div class="mdl-card__supporting-text mdl-cell--12-col-desktop">
                                                        <%- tarefas[i]._descricao %>
                                                </div>
                                                <div class="mdl-card__menu">
                                                        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect excluirTarefa" title="Apagar"><i class="material-icons">delete_sweep</i></button>
                                                </div>
                                                <div class="mdl_card__actions mdl-card--border mdl-cell--middle">
                                                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored fazerTarefa" title="Tarefa está em andamento"><i class="material-icons">assignment</i></button>
                                                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored concluirTarefa" title="Tarefa foi concluída"><i class="material-icons">assignment_turned_in</i></button>   
                                                </div>
                                            </div>
                                        </li>
                                        <br><br>
                                    <% } %>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                    <div class="mdl-tabs__panel  mdl-cell--8-col-desktop mdl-cell--2-offset-desktop mdl-grid" id="forno2-panel">
                        <div class="mdl-layout__content">
                            <ul style="list-style:none">
                                <br><br>
                                <% for(let i=0; i<tarefas.length; i++){%>
                                    <% if(tarefas[i]._forno =="2"){%>
                                        <li>
                                            <div class="mdl-card mdl-cell--12-col-desktop mdl-cell--middle" style="background-color:#f7f2f2;"> 
                                                <span class="tarefas_id" hidden><%- tarefas[i]._id %></span>
                                                <div class="mdl-card__title mdl-cell--middle"><span class="mdl-card__title-text"><%- tarefas[i]._titulo %></span></div>
                                                <span class="mdl-cell--middle"><b>Data:</b><%- tarefas[i]._data %></span>
                                                <div class="mdl-card__supporting-text mdl-cell--12-col-desktop">
                                                        <%- tarefas[i]._descricao %>
                                                </div>
                                                <div class="mdl-card__menu">
                                                        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect excluirTarefa" title="Apagar"><i class="material-icons">delete_sweep</i></button>
                                                </div>
                                                <div class="mdl_card__actions mdl-card--border mdl-cell--middle">
                                                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored fazerTarefa" title="Tarefa está em andamento"><i class="material-icons">assignment</i></button>
                                                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored concluirTarefa" title="Tarefa foi concluída"><i class="material-icons">assignment_turned_in</i></button>   
                                                </div>
                                            </div>
                                        </li>
                                        <br><br>
                                    <% } %>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                    <div class="mdl-tabs__panel  mdl-cell--8-col-desktop mdl-cell--2-offset-desktop mdl-grid" id="forno3-panel">
                        <div class="mdl-layout__content">
                            <ul style="list-style:none">
                                <br><br>
                                <% for(let i=0; i<tarefas.length; i++){%>
                                    <% if(tarefas[i]._forno =="3"){%>
                                    <li>
                                        <div class="mdl-card mdl-cell--12-col-desktop mdl-cell--middle" style="background-color:#f7f2f2;"> 
                                            <span class="tarefas_id" hidden><%- tarefas[i]._id %></span>
                                            <div class="mdl-card__title mdl-cell--middle"><span class="mdl-card__title-text"><%- tarefas[i]._titulo %></span></div>
                                            <span class="mdl-cell--middle"><b>Data:</b><%- tarefas[i]._data %></span>
                                            <div class="mdl-card__supporting-text mdl-cell--12-col-desktop">
                                                    <%- tarefas[i]._descricao %>
                                            </div>
                                            <div class="mdl-card__menu">
                                                    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect excluirTarefa" title="Apagar"><i class="material-icons">delete_sweep</i></button>
                                            </div>
                                            <div class="mdl_card__actions mdl-card--border mdl-cell--middle">
                                                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored fazerTarefa" title="Tarefa está em andamento"><i class="material-icons">assignment</i></button>
                                                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored concluirTarefa" title="Tarefa foi concluída"><i class="material-icons">assignment_turned_in</i></button>   
                                            </div>
                                        </div>
                                    </li>
                                    <br><br>
                                    <% } %>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                    <div class="mdl-tabs__panel  mdl-cell--8-col-desktop mdl-cell--2-offset-desktop mdl-grid" id="forno4-panel">
                        <div class="mdl-layout__content">
                            <ul style="list-style:none">
                                <br><br>
                                <% for(let i=0; i<tarefas.length; i++){%>
                                    <% if(tarefas[i]._forno =="4"){%>
                                        <li>
                                            <div class="mdl-card mdl-cell--12-col-desktop mdl-cell--middle" style="background-color:#f7f2f2;"> 
                                                <span class="tarefas_id" hidden><%- tarefas[i]._id %></span>
                                                <div class="mdl-card__title mdl-cell--middle"><span class="mdl-card__title-text"><%- tarefas[i]._titulo %></span></div>
                                                <span class="mdl-cell--middle"><b>Data:</b><%- tarefas[i]._data %></span>
                                                <div class="mdl-card__supporting-text mdl-cell--12-col-desktop">
                                                        <%- tarefas[i]._descricao %>
                                                </div>
                                                <div class="mdl-card__menu">
                                                        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect excluirTarefa" title="Apagar"><i class="material-icons">delete_sweep</i></button>
                                                </div>
                                                <div class="mdl_card__actions mdl-card--border mdl-cell--middle">
                                                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored fazerTarefa" title="Tarefa está em andamento"><i class="material-icons">assignment</i></button>
                                                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored concluirTarefa" title="Tarefa foi concluída"><i class="material-icons">assignment_turned_in</i></button>   
                                                </div>
                                            </div>
                                        </li>
                                        <br><br>
                                    <% } %>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                </div>
            </section><br>
            <section class="mdl-grid" id="Preenchimento">
                <form id="novaTarefa"  method="POST">
                    <div class="mdl-cell mdl-cell--middle mdl-cell--12-col-desktop">
                            <span class="mdl-layout-title">
                                    Coloque uma tarefa
                            </span><br>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="text" class="mdl-textfield__input" id="Nome" name="nome">
                                <label class="mdl-textfield__label" for="Nome">Nome de Usuario</label>
                            </div><br>
                            <span class="">Forno:</span>
                            <select name="fornos" id="forno">
                                <option value="1" selected="selected">Forno1</option>
                                <option value="2">Forno2</option>
                                <option value="3">Forno3</option>
                                <option value="4">Forno4</option>
                            </select>
                            <br>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input type="text" class="mdl-textfield__input" id="Titulo" name="titulo">
                                <label class="mdl-textfield__label" for="Titulo">Tarefa</label>
                            </div><br>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <textarea type="text" class="mdl-textfield__input" rows= "4" id="descricao" name="descricao"></textarea>
                                <label class="mdl-textfield__label" for="descricao">Descricao</label>
                            </div><br>
                            <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" value="Enviar">              
                    </div>
                </form>
                <dialog class="mdl-dialog" id="caixaConfirmacao">
                    <h4 class="mdl-dialog__title">Operação Concluida!</h4>
                    <div class="mdl-dialog__content">
                      <p>
                        A tarefa foi incluida com sucesso na lista de afazeres.
                      </p>
                    </div>
                    <div class="mdl-dialog__actions">
                      <button type="button" class="mdl-button close">Ok</button>
                    </div>
                  </dialog>
            </section>
      </div>
      <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="http://malsup.github.com/jquery.form.js"></script>

      <script>
        $("document").ready( function(){
            $("#novaTarefa").submit(function(evento){
                event.preventDefault();
                var dados = {nome: $("#Nome").val(), titulo: $("#Titulo").val(), descricao: $("#descricao").val(), fornos:$("#forno").val()};
                $.post("/diario/novaTarefa",dados, function(data){
                    $('#caixaConfirmacao').show();
                    $('#caixaConfirmacao').on("click",fecharModal);
                    $('#novaTarefa').trigger("reset");
                });
            });
            function fecharModal(){
                $("#caixaConfirmacao").hide();
                location.reload();
            }

            $(".excluirTarefa").on("click", function(){
                if(confirm("Voce deseja excluir a tarefa?")){
                    event.preventDefault();
                    console.log($(this).parent().parent().children(".tarefas_id").html());
                    let id = $(this).parent().parent().children(".tarefas_id").html();
                    var dados = {id:id};
                    $.post("/diario/excluirTarefa", dados, function (data){
                        location.reload();
                    });

                }
                
            });

            $(".fazerTarefa").on("click", function(){

                event.preventDefault();
                let id = $(this).parent().parent().children(".tarefas_id").html();
                var dados = {id:id};

                $.post("/diario/fazerTarefa", dados, function(data){
                    location.reload();
                });
            });

            $(".concluirTarefa").on("click", function(){
                event.preventDefault();
                let id = $(this).parent().parent().children(".tarefas_id").html();
                var dados = {id:id};
                $.post("/diario/concluirTarefa", dados, function(data){
                    location.reload();
                });
            });
        });
      </script>
    </body>
</html>